    :root {

        --blanco: #ffffff;
        --amarillo:rgb(206, 203, 22);
       /* --fontFamilyStandar: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;*/
          --fontFamilyStandar: 'Krub', sans-serif;  
    }
    
    html{                               
        font-size: 62.5%;         
        box-sizing: border-box;   
        z-index: 5;   
    }                        

    h1::after{
        transition: 0.5s;
        content: "";
        background: linear-gradient(to right, #194042 , #39dde9,#194042);
        background-size: 200%;
        position: relative;
        display: block;
        width: 50%;
        left: 25%;
        height: 5px;
        border-radius: 10px;

    }



    h1:hover::after{
            
        background-position: right;

    }


*, *:before, *:after {
  box-sizing: inherit;
}
           
    body{                              
        font-size: 16px; /*  Esto, junto con el html font size hace que 1rem sean 10 px */
        margin: 0px; /* Para que el nav cubra todo el ancho de la página */
    }

    #H2contacto{
        font-size: 4rem;
        z-index: 0;
        text-align: center;
        font-family: var(--fontFamilyStandar);
    }   

    header h1 {
        font-family:var(--fontFamilyStandar);
        font-size: 4rem;
        text-align: center;
        
    }

    header span {
        font-size: 2.5rem;
        
    }

    .navBackground{
        background-image: linear-gradient(to right, #1c959e , #39dde9);
        height: 4rem;
        display: flex;
        justify-content: space-evenly;
    }

    .navbar{
        width: 80%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;

    }

    .navbar a{
        width: 20%;
        height:100%;
        text-decoration: none;
        transition: 0.7s;
        color: white;
        text-align: center;



    }

    .navbar a span{
        position: relative;
        top: 25%;
        font-family:var(--fontFamilyStandar);
        font-weight: bold;
    }
    

    .navbar a:hover{

        border-radius: 10px;
        color: var(--amarillo) !important;
        background-color: #1f77a086;
    
    }




    .seccionConImagenDeFondo{
        background-image: url("/img/imagen2.jpg");
        background-size: cover;
        font-family:var(--fontFamilyStandar);
        font-size: 3rem;
        text-align: center;
        height: 45rem;


    }

    .seccionConImagenDeFondoConjunto {
            
        background-image: linear-gradient(to right, black , rgba(0, 0, 0, 0.582), black);
        color: white;
        height: 100%;
        width: 100%;
        position: relative;
        display: flex;

        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .seccionConImagenDeFondoConjunto h2{
        margin: 0;
    }
    .seccionConImagenDeFondoConjunto h2 span{
        font-size: 4vw;

    }

    .seccionConImagenDeFondoConjuntoTextAndVectorImage{
        width: 100%;

    }







    .seccionConImagenDeFondoConjuntoTextAndVectorImage span{
        font-size: 2.5vw;
        position: relative;
        bottom: 1rem;
    }


    .seccionConImagenDeFondoConjuntoTextAndVectorImage svg{
        color: var(--amarillo);
        width: 2.5em;
        position: relative;
        top: 0.5em;
        

    }


    .seccionConImagenDeFondoContactar a{
        text-decoration: none;

    }

    .svgYcontactar{
        border-radius: 10px;
        background-color: #1c959e;
        text-decoration: none;
        color: white;
        width: 20rem;
    }

    .svgYcontactar:hover{
        transition: 0.5s;
        color: var(--amarillo);
        background-color: #164f69;
        animation:example;
        animation-duration: 0.35s;
    }




    .svgYcontactar svg{
        width: 1.75em;
        color: var(--amarillo);

    }

    @keyframes example {
        0%   {transform: rotate(3deg);}
        20%  {transform: rotate(0deg);}
        40%  {transform: rotate(-3deg);}
        60%  {transform: rotate(0deg);}
        80%  {transform: rotate(3deg);}
        100% {transform: rotate(0deg);}
      }


    .svgYcontactar  span{
        font-size: 0.70em;
        font-weight: bolder;
        position: relative;
        bottom: 0.8em;
    }


/*
    .cookieDiv{
        position: fixed;
        background-color: rgba(0, 0, 0, 0.74);
        text-align: center;
        width: 50%;
        left: 25%;
        top:90%;
        z-index: 1;
        border-radius: 1em;
    }
*/

    


    main {
        background-color: white;
        position: relative;
        text-align: center;
        width: 75%;
        left: 12.5%;
        border-radius: 10px;
        box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.356)
    }

    main h2{
        font-size: 3em;
        font-family: var(--fontFamilyStandar);
        position: relative;
        top: 0.25em;


    }


    main div h3{
        font-size: 1.5em;
        font-family:var(--fontFamilyStandar);
        position: relative; 
        top: 0.25em;
        color: #1c959e;

    }



    

    main div p{
        font-family: var(--fontFamilyStandar);
        text-align: justify;
        text-justify: distribute;
        text-align-last: left;
        width: auto;
        margin: 1em;

    }






    #containerDivsTray{
        width: 100%;
        display: grid;

    }

    .divsTrayectoria{
        margin: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

    }


    .divsTrayectoria:hover{
        transition: 0.7s ;
        border-radius: 3rem;
        background-color: #dbe6e6ad;

        
    }


    .divsTrayectoria:hover .circulo{
        animation-name:focusIn;
        animation-duration: 1s;
        
    }
    @keyframes focusIn {
        from   {transform: rotate(0deg);}
        to {transform: rotate(360deg);}
      }


    .divsTrayectoria div p{
        margin: 4rem;
        width: auto;
        height: auto;
        position: relative;


    }


    .circulocontainer{
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 0;
    }
    .circulo
    {
      
      margin: 0;
      border-radius: 50%;
      width: 9em;
      height: 9em; 
      background-color: var(--amarillo);
    }

    .circulo svg{
        position: relative;
        top: 20%;
        width: 35%;
        
    }
    .cointainerSeccioncontacto{
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative;

    }

    .seccionContacto{
        overflow: hidden;
        font-family: var(--fontFamilyStandar);
        box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.356);
        width: 50%;
        border-radius: 1em;
        background-image: url("/img/correo2.jpg");
                background-size: cover;
        z-index: 15;
        
    }
    

    #innerContainerContacto{
        position: relative;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.623) , rgba(0, 0, 0, 0.562), rgba(0, 0, 0, 0.747));
        border-radius: 1em;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        z-index: 0;
    }

    .seccionContacto h2{
        text-align: center;
        position: relative;
        top: 0.5em;
        color: white;
        font-weight: bold;
        font-size: 3em;
    }

    .seccionContacto fieldset{
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        border: 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .seccionContacto fieldset div{
        color: white;
        font-weight: bold;
        display: inline-block;
    }

    input::placeholder{

        text-align: center;
    }

    input[type=text]{
        
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
         border-radius: 1rem;
         border: 1px solid black;
         color: black;
        height: 2.5rem;
        }
     
    input[type=tel]{
        
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
         border-radius: 1rem;
         border: 1px solid black;
         color: black;
         height: 2.5rem;


        }
    input[type=email]{
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
         border-radius: 1rem;
         border: 1px solid black;
         color: black;
         height: 2.5rem;


        }
    textarea{
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
         border-radius: 1rem;
         border: 1px solid black;
         color: black;
         height: 2.5rem;
        
        }


    #containerNombreAsunto{
        
        display: flex;
        justify-content: space-around;
        margin: 20px 0px 20px 0px;

    }

    #containerTlfnEmail{
        display: flex;
        justify-content: space-around;

    }



    
    #nombre label{
        width: 10vw;
        font-size: 1vw;
    }
    #nombre input{
        width: 10vw;

    }
    


    #asunto label{
        width: 10vw;
        font-size: 1vw;
    }
    #asunto input{
        width: 10vw;

    }




    #telefono label{
        width: 10vw;
        font-size: 1vw;
    }
    #telefono input{
        width: 10vw;

    }






    #email label{
        width: 10vw;
        font-size: 1vw;
    }
    #email input{
        width: 10vw;

    }


    #mensaje{
        font-size: 1vw;
        width: 100%;
        text-align: center;
    }

    #mensaje label{
        display: block;
        text-align: center;
        margin: 0.5vw;

    }

    textarea{
        display: inline-block;
        resize: none;
        
        width: 80%;
        height: 6vw;

    }

    #containerSummit{
        width: 100%;
        height: fit-content;

    }
    #divSpanContacto{
        text-align: right;
        width: 100%;
        position: relative;
        right: 0.5vw;
    }
    #spanSummit{
        color: white;
        font-family: var(--fontFamilyStandar);
        font-size:1rem;
        display: block;
    }

    footer{

        text-align: center;
        font-family: var(--fontFamilyStandar);
        font-weight: bold;

    }

    input[type=submit]{
        margin: 1vw;
        background-color: #1c959e;
        border: none;
        border-radius: 1em;
        color: white;
        padding: 16px 32px;
        text-decoration: none;
        cursor: pointer;
        font-weight: bolder;
        font-family: var(--fontFamilyStandar);
      }

      input:focus{
        transition: 0.15s;

        outline: 3px solid #2ca7e0d8;

      }

      textarea:focus{
        transition: 0.15s;

        outline: 3px solid #258ab9d8;

      }




      input[type=submit]:hover{

        background-color: #1f77a0d8;


      }

   


    #blancofondo{
        background-color: white;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 10;
    }

    .insidewrapper{
        height: 100%;
        width: 100%;
        z-index: 19;
        position: absolute;
        display: flex;
        flex-direction: column;
        font-size: 3em;
        text-align: center;
        color: rgb(33, 180, 33);

        justify-content: space-around;
        background-color: rgba(0, 0, 0, 0.733);
        transform: translateX(100%);

    }
    #wrapper{
        position: absolute;
        display: inline-block;
        height: 100%;
        width: 50%;
        overflow-x: hidden;
        border-radius: inherit;

        }

        .alaizquierda{
            animation: animacionBoton 2s 1;
        }



    @keyframes animacionBoton {
        0%   {transform: translateX(100%);}
        25%  {transform: translateX(0%);}
        50%  {transform: translateX(0%);}
        75%  {transform: translateX(0%);}
        100%  {transform: translateX(100%);}
      }

       /*
    ////////////////////////////////////////
    ////                                ////
    ////         MEDIA QUERIES          ////
    ////                                ////
    ////////////////////////////////////////
    
    */

      /* Cambia el estilo de los divs de la trayectoria para que se vean de 1 en 1 de arriba a abajo */

      @media screen and (min-width:1100px) {
        #containerDivsTray{
           grid-template-columns: 1fr 1fr 1fr; 
      }
    }



    /* Cambia el estilo del formulario para poner todos los inputs en vertical */
      
    @media screen and (max-width:700px) {

        #wrapper{
            width: 80%;
        }


        #containerNombreAsunto{
            flex-direction: column;

            }

            #containerNombreAsunto div{
                padding: 5px;
                }

        #containerNombreAsunto label{
            font-size: 15px;
            }
        #containerNombreAsunto input{
            width: 40%;
        }
            
    
            #containerTlfnEmail{
                flex-direction: column;
            }



            #containerTlfnEmail div{
                padding: 5px;
                }

        #containerTlfnEmail label{
            font-size: 15px;
            }
        #containerTlfnEmail input{
            width: 40%;
        }

        

        #mensaje {
            flex-direction: column;

            padding: 5px;
        }


        #mensaje label{
            display: block;
            font-size: 15px;
            }
            #mensaje textarea{
            font-size: 10px;
            height: 10em;
            }
        #H2contacto{
            font-size: 3rem;
        }

        .seccionContacto{
            width: 80%;
        }
        


        
    }


    /* Cambia el estilo del nav para ponerlo en vertical */

    @media screen and (max-width:584px) {
        .navbar{
            flex-direction: column;
        }
        .navbar a{
            width: 100%;
        }
        .navBackground{
           height: 10em;

        }
    }


    /* Cambia el estilo del icono del localización y el texto*/

    @media screen and (max-width:500px) {
        .seccionConImagenDeFondoConjuntoTextAndVectorImage span{
            display: block;
            bottom: 0%;
            top: 10%;
            font-size: 2rem;
        }
    }
    
    /* Cambia el tamaño de la fuente del texto TRAYECTORIA */

    @media screen and (max-width:500px){
        #trayectoria{
            font-size: 2rem;
        }

    }